#error {
  margin-left: 30%;
  font-weight: 700;
  font-size: 288px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2e5497;
}
#msgError {
  margin-left: 20%;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 36px;
  display: flex;
  color: #2e5497;
}
#lienHome {
  margin-left: 40%;
  margin-bottom: 50px;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  text-decoration-line: underline;
  color: #2e5497;
}
@media all and (min-width: 481px) and (max-width: 1200px) {
  #error {
    margin-left: 25%;
    font-size: 200px;
  }
  #msgError {
    margin-left: 15%;
    font-size: 25px;
  }
  #lienHome {
    margin-left: 30%;
    font-size: 25px;
  }
}
@media all and (max-device-width: 480px) {
  #error {
    margin-left: 90px;
    margin-bottom: 40px;
    font-size: 100px;
  }
  #msgError {
    margin-left: 30px;
    font-size: 25px;
    padding: 30px;
  }
  #lienHome {
    margin-left: 60px;
  }
}
