#formulaire {
  background: linear-gradient(-45deg, #000 0%, #071952 51%, #000 100%);
  border-top: 1px solid #ffffff32;
}
form {
  margin-left: 30%;
  margin-top: -30px;
  padding-bottom: 30px;
}
.label {
  color: #fff;
  font-size: 18px;
}
input {
  width: 600px;
  border-radius: 5px;
  height: 40px;
}
textarea {
  border-radius: 5px;
  width: 600px;
}
.btnSubmit {
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 18%;
  width: 250px;
  height: 40px;
  border-radius: 30px;
  background: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  text-align: center;
  color: #fff;
  transition: all 1s ease;
  background-size: 200% auto;
}
.btnSubmit:hover {
  background-position: center right;
}
.msgError {
  color: red;
}
