#logoHeader {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
#Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #030711;
  border-bottom: 2px solid #ffffff32;
}
#navigation {
  margin-top: 30px;
}
.lien {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 50px;
  color: #ffffff;
}
/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000;
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #26a0da;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  right: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
}

@media all and (max-device-width: 480px) {
  #header {
    width: auto;
  }
  .lien {
    margin-right: 0px;
    padding: 10px;
  }
}
