@tailwind base;
@tailwind components;
@tailwind utilities;

.titleMain {
  font-family: Courier New, monospace;
  background: linear-gradient(90deg, #314755, #26a0da);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
#Card {
  border: 1px solid #97feed;
  transition: all 1s ease;
  background: linear-gradient(45deg, #071952, #0b666a);
}
#Card:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-position: center right;
}
.btnSubmit,
#btnVoirPlus {
  background: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  transition: all 1s ease;
  background-size: 200% auto;
}
.btnSubmit:hover,
#btnVoirPlus:hover {
  background-position: center right;
}

.titleTechno,
.titleProjet {
  background-image: linear-gradient(
    -225deg,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 30px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.boxTechno{
  animation: animate 2s ease-in-out infinite;
}
@keyframes animate {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
	}
}
